
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link href="./output.css" rel="stylesheet"> -->
        <link href="./output.css" rel="stylesheet">

        <!-- <title>Document</title> -->
    </head>
    <body>
        <div class="py-20 flex justify-center">
            <div class="container mx-auto relative">
                <h3
                    class="text-[2rem] text-text-h1 font-bold text-center h-11.25">
                    SDLinux vs Native Linux vs BitLocker
                </h3>
                <image
                    src="/assets/image/home/Group 10.png"
                    alt="image star"
                    class=" absolute top-20.75 left-65.75 h-105 w-51" />

                <div class="w-full mt-15 h-[412px] overflow-hidden">
                    <div
                        class="flex bg-[#E4EDFC] text-sm text-brand-0 font-bold rounded-tl-xl rounded-tr-xl">
                        <div class="w-65.75 px-4 py-3 text-start uppercase ">
                            Feature
                        </div>
                        <div class="w-51 px-4 py-3 text-center uppercase">
                            SDLinux
                        </div>
                        <div
                            class="w-[15.40625rem] px-4 py-3 text-center uppercase">
                            Native Linux Tool
                        </div>
                        <div
                            class="w-[15.40625rem] px-4 py-3 uppercase text-center">
                            BitLocker
                        </div>
                    </div>
                    <div
                        class="mt-0 rounded-bl-xl bg-bg-placeholder rounded-br-xl">
                        <div class="flex outline-t outline-1 outline-[#f1f4f8]">
                            <div class="w-65.75 px-4 py-4  font-bold text-[1rem] text-text-primary flex items-center">
                                <strong>In-place encryption</strong>
                            </div>
                            <div class="w-51 px-5 py-3.5 text-[1rem] flex justify-center items-center">
                                <img src="/assets/icon/home/correct.svg"
                                    alt="correct icon"
                                    class="w-7.5 aspect-square" />
                            </div>
                            <div class="w-[15.40625rem] px-5 py-3.5 flex justify-center items-center">
                                <img src="/assets/icon/home/incorrect.svg"
                                    alt="incorrect icon"
                                    class="w-7.5 aspect-square" />

                            </div>
                            <div class="w-[15.40625rem] px-5 py-3.5 flex justify-center items-center">
                                <img src="/assets/icon/home/correct.svg"
                                    alt="correct icon"
                                    class="w-7.5 aspect-square" />
                            </div>
                        </div>
                        <div class="flex outline-t outline-1 outline-[#f1f4f8]">
                            <div
                                class="w-65.75 px-4 py-4  font-bold text-[1rem] text-text-primary flex items-center">
                                <strong>Used-space-only encryption</strong>
                            </div>
                            <div
                                class="w-51 px-5 py-3.5 text-[1rem] flex justify-center items-center">
                                <img src="/assets/icon/home/correct.svg"
                                    alt="correct icon"
                                    class="w-7.5 aspect-square" />
                            </div>
                            <div
                                class="w-[15.40625rem] px-5 py-3.5 flex justify-center items-center">
                                <img src="/assets/icon/home/incorrect.svg"
                                    alt="incorrect icon"
                                    class="w-7.5 aspect-square" />

                            </div>
                            <p
                                class="w-[15.40625rem] text-[1rem] leading-[1.6] px-5 py-4 flex justify-center items-center text-text-secondary">
                                Partial
                            </p>
                        </div>
                        <div class="flex outline-t outline-1 outline-[#f1f4f8]">
                            <div class="w-65.75 px-4 py-4  font-bold text-[1rem] text-text-primary flex items-center">
                                <strong>Pre-boot trust</strong>
                            </div>
                            <div class="w-51 px-5 py-3.5 text-[1rem] flex justify-center items-center">
                                <img src="/assets/icon/home/correct.svg"
                                    alt="correct icon"
                                    class="w-7.5 aspect-square" />
                            </div>
                            <p class="w-[15.40625rem] px-5 py-4 leading-[1.6] flex justify-center items-center text-text-secondary">
                                DIY

                            </p>
                            <div class="w-[15.40625rem] px-5 py-3.5 flex justify-center items-center">
                                <img src="/assets/icon/home/incorrect.svg"
                                    alt="incorrect icon"
                                    class="w-7.5 aspect-square" />
                            </div>
                        </div>
                        <div class="flex outline-t outline-1 outline-[#f1f4f8]">
                            <div class="w-65.75 px-4 py-4  font-bold text-[1rem] text-text-primary flex items-center">
                                <strong>Centralized compliance</strong>
                            </div>
                            <div class="w-51 px-5 py-3.5 text-[1rem] flex justify-center items-center">
                                <img src="/assets/icon/home/correct.svg"
                                    alt="correct icon"
                                    class="w-7.5 aspect-square" />
                            </div>
                            <div class="w-[15.40625rem] px-5 py-3.5 flex justify-center items-center">
                                <img src="/assets/icon/home/incorrect.svg"
                                    alt="incorrect icon"
                                    class="w-7.5 aspect-square" />

                            </div>
                            <div class="w-[15.40625rem] px-5 py-3.5 flex justify-center items-center">
                                <img src="/assets/icon/home/correct.svg"
                                    alt="correct icon"
                                    class="w-7.5 aspect-square" />

                            </div>
                        </div>
                        <div class="flex outline-t outline-1 outline-[#f1f4f8]">
                            <div class="w-65.75 px-4 py-4  font-bold text-[1rem] text-text-primary flex items-center">
                                <strong>Remote unlock</strong>
                            </div>
                            <div class="w-51 px-5 py-3.5 text-[1rem] flex justify-center items-center">
                                <img src="/assets/icon/home/correct.svg"
                                    alt="correct icon"
                                    class="w-7.5 aspect-square" />
                            </div>
                            <div class="w-[15.40625rem] px-5 py-3.5 flex justify-center items-center">
                                <img src="/assets/icon/home/incorrect.svg"
                                    alt="incorrect icon"
                                    class="w-7.5 aspect-square" />

                            </div>
                            <p class="w-[15.40625rem] px-5 py-4 leading-[1.6] flex justify-center items-center text-text-secondary">
                                Limited

                            </p>
                        </div>
                        <div class="flex outline-t outline-1 outline-[#f1f4f8]">
                            <div class="w-65.75 px-4 py-4 font-bold text-[1rem] text-text-primary flex items-center">
                                <strong>Multi-OS management</strong>
                            </div>
                            <div class="w-51 px-5 py-3.5 text-[1rem] flex justify-center items-center">
                                <img src="/assets/icon/home/correct.svg"
                                    alt="correct icon"
                                    class="w-7.5 aspect-square" />
                            </div>
                            <div class="w-[15.40625rem] px-5 py-3.5 flex justify-center items-center">
                                <img src="/assets/icon/home/incorrect.svg"
                                    alt="incorrect icon"
                                    class="w-7.5 aspect-square" />

                            </div>
                            <p class="w-[15.40625rem] px-5 py-4 leading-[1.6] flex justify-center items-center text-text-secondary">
                                Windows only
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>