
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- <link href="./output.css" rel="stylesheet"> -->
        <link href="./output.css" rel="stylesheet">

        <!-- <title>Document</title> -->
    </head>
    <body>
        <div class="mt-20 pb-10">
            <div class="w-49.9375 relative">
                <div class="flex justify-center z-10 container mx-auto">
                    <div>
                        <image
                            src="/assets/image/home/BG.png"
                            alt="Next.js logo"
                            width={799}
                            height={611}
                            priority
                            class=" rounded-lg object-cover aspect-[1.30769231/1] w-199.75 h-152.75" />
                        <!-- backgound  -->
                    </div>

                </div>
                <div
                    class="absolute left-1/2 -translate-x-1/2 top-10 z-20 w-180 container-content mx-auto">
                    <h3 class="text-text-h1 text-[2rem] font-bold">
                        Zero-Downtime Encryption Pilot - 6 weeks
                    </h3>
                    <ul
                        class="list-inside text-[1rem] list-disc text-text-secondary mt-5 [text-indent:0.8rem] leading-[1.6] w-180">
                        <li class="text-[1.125rem]">50-200 Linux endpoints:
                            In-place + Quick Conversion</li>
                        <li class="text-[1.125rem]">MFA at PBA enabled on a
                            high-risk cohort</li>
                        <li class="text-[1.125rem]">
                            Centralized key management & reporting for audit
                            evidence
                        </li>
                        <li class="text-[1.125rem]">
                            Success criteria: ≥98% in-place success, minutes to
                            initial
                            protection, 1% rollback
                        </li>
                    </ul>

                    <div class="flex mt-8">
                        <button
                            class="font-semibold text-[1.125rem] text-text-revert-1st bg-explore-3 hover:bg-btn3 py-3 px-6 rounded-lg mr-5 cursor-pointer leading-[1.6]">
                            Request a Pilot
                        </button>
                        <button
                            class="font-semibold text-[1.125rem]  bg-B-bg-secondary hover:bg-btn3 text-text-h1 hover:text-white py-3 px-6 rounded-lg cursor-pointer leading-[1.6]">
                            See ROI model
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>