
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="./output.css" rel="stylesheet"> -->
     <link href="./output.css" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/src/css/base.css"> -->

  </head>
  <body>
    <!-- footer -->
    <div class="bg-explore-3">
      <div >
        <div class="pt-10 flex justify-center ">
          <div
            class="flex justify-center gap-6  mb-7.5 container mx-auto">
            <div class="w-55.5">
              <div>
                <h4 class="text-sm font-bold text-text-revert-1st mb-3">
                  Featured Services
                </h4>
                <!-- {featureService.map((item) => (
                <a href="#" key={item.id} class="leading-6 my-3 block">
                  <p class="text-[0.75rem] text-text-tertiary">
                    {item.title}
                  </p>
                </a>
                ))} -->
                <a href="#" key={item.id} class="leading-6 my-3 block">
                  <p class="text-[0.75rem] text-text-tertiary">
                    Pre-boot MFA with Full Disk encryption
                  </p>
                </a>
                <a href="#" key={item.id} class="leading-6 my-3 block">
                  <p class="text-[0.75rem] text-text-tertiary">
                    Windows Login with MFA
                  </p>
                </a>
                <a href="#" key={item.id} class="leading-6 my-3 block">
                  <p class="text-[0.75rem] text-text-tertiary">
                    Passwordless Online Authentication
                  </p>
                </a>
                <a href="#" key={item.id} class="leading-6 my-3 block">
                  <p class="text-[0.75rem] text-text-tertiary">
                    Phishing Resistant MFA
                  </p>
                </a>
                <a href="#" key={item.id} class="leading-6 my-3 block">
                  <p class="text-[0.75rem] text-text-tertiary">
                    Okta Passwordless Authentication
                  </p>
                </a>
                <a href="#" key={item.id} class="leading-6 my-3 block">
                  <p class="text-[0.75rem] text-text-tertiary">
                    Encryption
                  </p>
                </a>
              </div>

              <div class="mt-3 ">
                <h4 class="text-sm font-bold text-text-revert-1st mb-3">
                  Get In Touch
                </h4>
                <!-- {getInTouch.map((item) => (
                <a href="#" key={item.id} class="leading-6 my-3 block">
                  <p class="text-[0.75rem] text-text-tertiary">
                    {item.title}
                  </p>
                </a>
                ))} -->
                <a href="#" key={item.id} class="leading-6 my-3 block">
                  <p class="text-[0.75rem] text-text-tertiary">
                    Linkedin
                  </p>
                </a>
                <a href="#" key={item.id} class="leading-6 my-3 block">
                  <p class="text-[0.75rem] text-text-tertiary">
                    Youtube
                  </p>
                </a>
              </div>
            </div>

            <div class="w-55.5">
              <div>
                <div>
                  <h4 class="text-sm font-bold text-text-revert-1st mb-3">
                    Compliance & Security
                  </h4>
                  <!-- {complainceAndSecurity.map((item) => (
                  <a href="#" key={item.id} class="leading-6 my-3 block">
                    <p class="text-[0.75rem] text-text-tertiary">
                      {item.title}
                    </p>
                  </a>
                  ))} -->
                  <a href="#" key={item.id} class="leading-6 my-3 block">
                    <p class="text-[0.75rem] text-text-tertiary">
                      Data Privacy & Security Compliance
                    </p>
                  </a> <a href="#" key={item.id} class="leading-6 my-3 block">
                    <p class="text-[0.75rem] text-text-tertiary">
                      PCI DSS Compliant
                    </p>
                  </a> <a href="#" key={item.id} class="leading-6 my-3 block">
                    <p class="text-[0.75rem] text-text-tertiary">
                      HIPAA Compliant
                    </p>
                  </a> <a href="#" key={item.id} class="leading-6 my-3 block">
                    <p class="text-[0.75rem] text-text-tertiary">
                      EU GDPR Compliant
                    </p>
                  </a> <a href="#" key={item.id} class="leading-6 my-3 block">
                    <p class="text-[0.75rem] text-text-tertiary">
                      FISMA Compliant
                    </p>
                  </a> <a href="#" key={item.id} class="leading-6 my-3 block">
                    <p class="text-[0.75rem] text-text-tertiary">
                      Export Compliance
                    </p>
                  </a> <a href="#" key={item.id} class="leading-6 my-3 block">
                    <p class="text-[0.75rem] text-text-tertiary">
                      Additional Countries
                    </p>
                  </a>
                </div>

                <div class="mt-3">
                  <h4 class="text-sm font-bold text-text-revert-1st mb-3">
                    End User License Agreement
                  </h4>
                  <!-- {endUserLincseAgreement.map((item) => (
                  <a href="#" key={item.id} class="leading-6 my-3 block">
                    <p class="text-[0.75rem] text-text-tertiary">
                      {item.title}
                    </p>
                  </a>
                  ))} -->
                  <a href="#" key={item.id} class="leading-6 my-3 block">
                    <p class="text-[0.75rem] text-text-tertiary">
                      Evaluation Agreement
                    </p>
                  </a>
                  <a href="#" key={item.id} class="leading-6 my-3 block">
                    <p class="text-[0.75rem] text-text-tertiary">
                      License Agreement
                    </p>
                  </a>
                  <a href="#" key={item.id} class="leading-6 my-3 block">
                    <p class="text-[0.75rem] text-text-tertiary">
                      On Premise - Subscription
                    </p>
                  </a>
                  <a href="#" key={item.id} class="leading-6 my-3 block">
                    <p class="text-[0.75rem] text-text-tertiary">
                      SaaS
                    </p>
                  </a>
                  <a href="#" key={item.id} class="leading-6 my-3 block">
                    <p class="text-[0.75rem] text-text-tertiary">
                      OpenSource Licenses
                    </p>
                  </a>
                </div>
              </div>
            </div>

            <div class="w-55.5">
              <div>
                <h4 class="text-sm font-bold text-text-revert-1st mb-3">
                  End User License Agreement
                </h4>
                <!-- {endUserLincseAgreement.map((item) => (
                <a href key={item.id} class="leading-6 my-3 block">
                  <p class="text-[0.75rem] text-text-tertiary">
                    {item.title}
                  </p>
                </a>
                ))} -->
                <a href="#" key={item.id} class="leading-6 my-3 block">
                  <p class="text-[0.75rem] text-text-tertiary">
                    Evaluation Agreement
                  </p>
                </a>
                <a href="#" key={item.id} class="leading-6 my-3 block">
                  <p class="text-[0.75rem] text-text-tertiary">
                    License Agreement
                  </p>
                </a>
                <a href="#" key={item.id} class="leading-6 my-3 block">
                  <p class="text-[0.75rem] text-text-tertiary">
                    On Premise - Subscription
                  </p>
                </a>
                <a href="#" key={item.id} class="leading-6 my-3 block">
                  <p class="text-[0.75rem] text-text-tertiary">
                    SaaS
                  </p>
                </a>
                <a href="#" key={item.id} class="leading-6 my-3 block">
                  <p class="text-[0.75rem] text-text-tertiary">
                    OpenSource Licenses
                  </p>
                </a>
              </div>

              <div class="mt-3">
                <h4 class="text-sm font-bold text-text-revert-1st mb-3">
                  For Government
                </h4>

                <!-- {forGovernment.map((item) => (
                <a href="#" key={item.id} class="leading-6 my-3 block">
                  <p class="text-[0.75rem] text-text-tertiary">
                    {item.title}
                  </p>
                </a>
                ))} -->

                <a href="#" key={item.id} class="leading-6 my-3 block">
                  <p class="text-[0.75rem] text-text-tertiary">
                    Government Data Protection
                  </p>
                </a>
                <a href="#" key={item.id} class="leading-6 my-3 block">
                  <p class="text-[0.75rem] text-text-tertiary">
                    CMMC
                  </p>
                </a>
              </div>
            </div>

            <div class="w-55.5">
              <div>
                <h4 class="text-sm font-bold text-text-revert-1st mb-3">
                  Product Support
                </h4>

                <!-- {productSupport.map((item) => (
                  <a href="#" key={item.id} class="leading-6 my-3 block">
                    <p class="text-[0.75rem] text-text-tertiary">
                      {item.title}
                    </p>
                  </a>
                  ))} -->
                <a href="#" key={item.id} class="leading-6 my-3 block">
                  <p class="text-[0.75rem] text-text-tertiary">
                    Support Levels
                  </p>
                </a>
                <a href="#" key={item.id} class="leading-6 my-3 block">
                  <p class="text-[0.75rem] text-text-tertiary">
                    Professional Services
                  </p>
                </a>
              </div>

              <div class="mt-3">
                <h4 class="text-sm font-bold text-text-revert-1st mb-3">
                  Resources
                </h4>
                <!-- {resources.map((item) => (
                  <a href="#" key={item.id} class="mt-3">
                    <p
                      class="text-[0.75rem] text-text-tertiary leading-6 my-3 block">
                      {item.title}
                    </p>
                  </a>
                  ))} -->
                <a href="#" key={item.id} class="mt-3">
                  <p
                    class="text-[0.75rem] text-text-tertiary leading-6 my-3 block">
                    Passwordless Authentication
                  </p>
                </a>
                <a href="#" key={item.id} class="mt-3">
                  <p
                    class="text-[0.75rem] text-text-tertiary leading-6 my-3 block">
                    Software
                  </p>
                </a>
                <a href="#" key={item.id} class="mt-3">
                  <p
                    class="text-[0.75rem] text-text-tertiary leading-6 my-3 block">
                    What is Zero Trust?
                  </p>
                </a>
              </div>

              <div class="mt-3">
                <h4 class="text-sm font-bold text-text-revert-1st mb-3">
                  Terms & Policy
                </h4>
                <!-- {termAndPolicy.map((item) => (
                  <a href key={item.id} class="mt-3">
                    <p
                      class="text-[0.75rem] text-text-tertiary leading-6 my-3 block">
                      {item.title}
                    </p>
                  </a>
                  ))} -->
                <a href key={item.id} class="mt-3">
                  <p
                    class="text-[0.75rem] text-text-tertiary leading-6 my-3 block">
                    Customer Accessibility Policy
                  </p>
                </a>
                <a href key={item.id} class="mt-3">
                  <p
                    class="text-[0.75rem] text-text-tertiary leading-6 my-3 block">
                    Terms of Use
                  </p>
                </a>
                <a href key={item.id} class="mt-3">
                  <p
                    class="text-[0.75rem] text-text-tertiary leading-6 my-3 block">
                    Privacy Policy
                  </p>
                </a>
                <a href key={item.id} class="mt-3">
                  <p
                    class="text-[0.75rem] text-text-tertiary leading-6 my-3 block">
                    Refund Policy
                  </p>
                </a>
              </div>
            </div>
          </div>
        </div>

        <p class="border-t border-stroke-invert opacity-10"></p>
        <div class="flex justify-center pt-5 pb-10 ">
          <div class="flex justify-between gap-1 container  ">
            <div class="max-w-119">
              <div class="flex gap-1">
                <div class="relative w-41.25 h-4.5 ">
                  <image
                    src="/assets/icon/home/WM Offical logo.svg"
                    alt="Next.js logo"
                    fill={true}
                    priority
                    class=" object-cover blockpb-0.75 " />
                </div>

                <p
                  class="font-bold text-text-revert-1st text-[0.6875rem] leading-1 mt-2.5 pb-0.75">
                  <a href="#" class="text-text-cta mr-0.5">
                    Authenticate.
                  </a>
                  Encrypt. Achieve.
                </p>
              </div>
              <p
                class="text-text-revert-1st text-[0.625rem] mt-3 leading-[1.6]">
                We secures data and access with pre-boot MFA plus full-disk
                encryption, MFA for Windows sign-in, and game-changing
                passwordless authentication for online apps.
              </p>
            </div>
            <div class=" flex flex-col justify-end">
              <p class="text-text-tertiary text-[0.625rem] text-end">
                © 1997-2025 WinMagic. All rights reserved
              </p>
              <ul
                class="text-text-tertiary text-[0.5rem] mt-3 text-end leading-[1.6]">
                <li>
                  Trademarks used herein are trademarks or registered
                  trademarks
                  of WinMagic
                </li>
                <li>
                  All other names and brands are registered trademarks of
                  their
                  respective owners
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>