<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="/src/css/base.css"> -->
    <!-- <link href="./output.css" rel="stylesheet"> -->
    <link href="/output.css" rel="stylesheet">

    <!-- <link href="./input.css" rel="stylesheet"> -->


    <!-- <link rel="stylesheet" href="assets/css/components/header.css"> -->
</head>

<body>
    <div class=" flex justify-center">
      <div class=" py-3.5 container-header mx-8">
        <div class="flex justify-between">
          <div class=" flex items-center ">
            <image
              src="/assets/icon/home/WM Offical logo.svg"
              alt="Logo"
              width={165}
              height={18}
            />
          </div>
          <div class="text-sm flex gap-10 justify-center mx-6 text-text-revert-1st">
            <button class="capitalize cursor-pointer font-medium ">
              products
            </button>
            <button class="capitalize cursor-pointer font-medium">
              Solutions
            </button>
            <button class="capitalize cursor-pointer font-medium">
              Partners
            </button>
            <button class="capitalize cursor-pointer font-medium">
              Resources
            </button>
            <button class="capitalize cursor-pointer font-medium">
              Why winmagic
            </button>
            <button class="capitalize cursor-pointer font-medium">
              Company
            </button>
          </div>
          <div class=" w-66 flex justify-between gap-3 text-[0.75rem] ">
            <button class="px-4 py-[0.40625rem] cursor-pointer bg-btn1 rounded-lg flex justify-center">
              <image
                src="/assets/icon/home/WM Icon.svg"
                alt="icon contact"
                width={15}
                height={15}
                priority
                class="mr-1 w-3.75 h-3.75"
              />
              <span class=" capitalize text-white text-[0.75rem] font-semibold items-center flex">
                Contact US
              </span>
            </button>
            <button class="px-4 py-1.625 cursor-pointer bg-btn2 rounded-lg">
              <span class="text-[#6EBA1D] font-semibold text-[0.75rem]">
                Schedule a Demo
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>

</body>
</html>